body {
  font-family: 'Roboto Mono', monospace;
}

h2 {
  margin: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.infobox,
.data {
  display: flex;
}

.code {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#info {
  width: 38vw;
  height: 15vh;
  margin-right: 20px;
  outline: none;
}

#transpile {
  height: 50px;
  width: 10vw;
  align-self: flex-end;
  background-color: #d4d4d4;
  border: none;
  border-bottom: 3px solid #c0c0c0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

#input,
#output {
  border: 2px solid #72c3df;
  border-radius: 3px;
  width: 20vw;
  height: 40vh;
  padding: 2vw;
  outline: none;
  resize: none;
}